@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";

/* Screens*/
@import "screens/login.css";
/* 항상 다른file들을 가져올때는 @import를 사용해서 연결시켜 놓자! */

body {
    font-family: 'Ubuntu', sans-serif;
}
input {
    font-family: 'Ubuntu', sans-serif;
}
button {
    font-family: 'Ubuntu', sans-serif;
}