body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas {
    width: 1000px;
    height: 1000px;
    border: 10px solid black;
}